Source: ucc-coredns
Maintainer: Miek Gieben <miek@coredns.io>
Build-Depends: debhelper (>= 9), ca-certificates, curl, dh-systemd, lsb-release, jq

Package: ucc-coredns
Architecture: any
Description: DNS server that chains plugins
Depends: adduser
Conflicts: coredns
